@import '@fontsource-variable/manrope';
body,
html {
	font-family: 'Manrope Variable', sans-serif;
	color: #000;
	position: relative;
	background-color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
	color: #e3e3e3;
}

body::-webkit-scrollbar {
	width: 3px;
	height: 3px;
	background: transparent;
	margin: 1rem;
}

body::-webkit-scrollbar-thumb {
	width: 5px;
	border-radius: 5px;
	background: #636262;
	margin: 1rem;
}

.scrollbar_style::-webkit-scrollbar {
	display: none;
	width: 2px;
	height: 3px;
	background: transparent;
	margin: 1rem;
}

.scrollbar_style::-webkit-scrollbar-thumb {
	width: 3px;
	border-radius: 5px;
	background: transparent;
	margin: 1rem;
}

.spin {
	animation: spin 1s linear infinite;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
